GDCdata/
data/*
.Rproj.user/
.DS_Store

# Allow selected processed files
!data/processed/
!data/processed/*

# R session files
.RData
.Rhistory

# Python
__pycache__/
*.pyc

# Temporary files
gdc_manifest.txt
gdc_client_configuration.dtt
df.rds
results.rds